
@{
    ViewData["Title"] = "Master_Analyze_Seller";
    Layout = null;
}


<style>
    *{
        margin:0;
        padding:0;
    }

    .box{
        margin:2rem auto;
        width:80%;
    }

    

            :root {
	 --color-dark: #161616;
	 --color-ocean: #416dea;
	 --color-grass: #3dd28d;
	 --color-snow: #fff;
	 --color-salmon: #f32c52;
	 --color-sun: #feee7d;
	 --color-alge: #7999a9;
	 --color-flower: #353866;
	 --color-smoke: #e4e4e4;
	 --borderRadius: 36px;
	 --font-face: -apple-system, BlinkMacSystemFont, &#34;
	Segoe UI&#34;
	, Roboto, Helvetica, Arial, sans-serif, &#34;
	Apple Color Emoji&#34;
	, &#34;
	Segoe UI Emoji&#34;
	, &#34;
	Segoe UI Symbol&#34;
	;
}

.button-container {
	 display: flex;
     margin-bottom:2rem;
}
 .button {
	 display: flex;
	 overflow: hidden;
	 margin: 10px;
	 padding: 12px 12px;
	 cursor: pointer;
	 user-select: none;
	 transition: all 150ms linear;
	 text-align: center;
	 white-space: nowrap;
	 text-decoration: none !important;
	 text-transform: none;
	 text-transform: capitalize;
	 color: #fff;
	 border: 0 none;
	 border-radius: var(--borderRadius);
	 font-size: 13px;
	 font-weight: 500;
	 line-height: 1.3;
	 -webkit-appearance: none;
	 -moz-appearance: none;
	 appearance: none;
	 justify-content: center;
	 align-items: center;
	 
	 box-shadow: 2px 5px 10px var(--color-smoke);
}
 .button:hover {
	 transition: all 150ms linear;
	 opacity: 0.85;
}
 .button:active {
	 transition: all 150ms linear;
	 opacity: 0.75;
}
 .button:focus {
	 outline: 1px dotted #959595;
	 outline-offset: -4px;
}

.button.-blue {
	 color: var(--color-snow);
	 background: var(--color-ocean);
}
 .button.-salmon {
	 color: var(--color-snow);
	 background: var(--color-salmon);
}

.button-container .b2{
    padding:1rem 6rem;
   
}

</style>

<div class="box">
  <canvas id="myChart"></canvas>
</div>

 <div class="button-container" id="mybbtt">
    
 </div>



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>

    function loadPrint() {
		b1.style.display = "none";
		b2.style.display = "none";
		window.print();
		b1.style.display = "block";
		b2.style.display = "block";
	}

    $(function (){
        
        var xValues = [];
        var yValues = [];

        $.ajax({

            type:"GET",
            url:"/Ajax/Get_Master_Analysis_Seller",
            dataType:"json",
            success: function(data) {

                $("#mybbtt").append(`
                    <a href="/Loading/Loading_Master_Analysis" id="b1" class='button -salmon center b2'><div>Back</div></a>
	                <button class='button -blue b2' onclick="loadPrint()" id="b2">Print</button>
                
                `)

                var s = 0;
                var nameID = "";
                console.log(data)
                $.each(data, function(x, y) {

                    s = 0;

                    $.each(data[x], function(x, y) {

                        s += y.moviePrice * y.buyCount;
                        nameID = y.roleId;
                        

                    })
                    
                    xValues.push(nameID)
                    yValues.push(s)

                })


                new Chart("myChart", {
                    type: "bar",
                    data: {
                      labels: xValues,
                      datasets: [{
                        label: 'Netflix Seller Make Money Analysis TOP 5',
                        fill: false,
                        lineTension: 0,
                        backgroundColor: [
                          'rgba(255, 99, 132, 0.2)',
                          'rgba(255, 159, 64, 0.2)',
                          'rgba(255, 205, 86, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(201, 203, 207, 0.2)'
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(201, 203, 207)'
                        ],
                        borderWidth: 1,
                        data: yValues
                      }]
                    },
                    options: {
                      legend: {display: false},
                      scales: {
                        yAxes: [{ticks: {min: 6, max:16}}],
                      }
                    }
                });




            }

        })

    })

    

    
</script>





