@{
	ViewData["Title"] = "Loading_Master_User";
	Layout = "Loading_Layout";
}
<div id="load">
	<div>G</div>
	<div>N</div>
	<div>I</div>
	<div>D</div>
	<div>A</div>
	<div>O</div>
	<div>L</div>
</div>


<script>
	 function countDown(){

		window.location.href="/Master/Master_User";

	}

	//1000毫秒调用一次
	window.setInterval("countDown()",5000);
</script>

